[build-system]
requires = [
    "setuptools>=58.0.0",
    "setuptools_scm[toml]>=3.4.3",
    "wheel>=0.37.0",
    "construct>=2.10.0",
    "inflection>=0.5.1",
]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
local_scheme = "no-local-version"
write_to = "retro_data_structures/version.py"
git_describe_command = "git describe --dirty --tags --long --match v[0-9]*"
